<div class="footer-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6"><h1 style="color:white;">Online Jury</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <ul class="social-icons">
          <li><a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="javascript:void(0)"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
          <li><a href="javascript:void(0)"> <i class="fa fa-youtube" aria-hidden="true"></i></a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="bullet-section">
          <h2><img src="images/link-icon.png" alt=""/>ADDITIONAL RESEARCH LINKS</h2>
          <ul >
            <li><a href="javascript:void(0)">FREQUENTLY ASKED QUESTIONS</a></li>
            <li><a href="javascript:void(0)">LEGAL ADVICE</a></li>
            <li><a href="javascript:void(0)">HOW TO WRITE STATEMENTS</a></li>
            <li><a href="javascript:void(0)">PROMOTING CONCIOUSNESS</a></li>
            <li><a href="javascript:void(0)">CULTURAL SCHEMAS</a></li>
            <li><a href="javascript:void(0)">PERFORMING IN COURT</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="copyright-wrapper">
  <div class="container">
    <p>&copy; Copyright 2020, Online Jury System | All Rights Reserved. </p>
  </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="assets/jquery/jquery-3.1.1.min.js"></script> 
<script src="assets/jquery/jquery.animateNumber.min.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="assets/bootstrap/js/bootstrap.min.js"></script> 
<script src="assets/jquery/plugins.js"></script> 
<script src="assets/jquery/popup.js"></script> 
<script src="assets/jquery/slider.js"></script> 
<script src="assets/owl-carousel/js/owl.carousel.js"></script> 
<script src="assets/jquery/jquery.magnific-popup.min.js"></script> 
<script src="assets/wow/wow.min.js"></script> 
<script src="js/custom.js"></script>
</body>

</html>