<!DOCTYPE html>
<html>
<head>
  <title>caselist</title>
</head>
<body>
  <h2>Case List</h2>
<table style="width:100%">
  <% for(var i=0; i< user.length; i++){ %>
  <tr>
    <th>Case name</th>
    <th>Description</th> 
    <th>Status</th>
  </tr>
    <tr>
     <td><%= user[i].case_name %></td>
     <td><%= user[i].description %></td>
     <td><%= user[i].status %></td>
    </tr>
   <% } %>
  </table>
  <a href="/cases"> Back</a>
 </body>
</html>