<!doctype html>
<head>
<title>
Notes
</title>
<link rel="shortcut icon" href="imgFiles/oeIcon.png">
</head>

<body>
<pre align="left"><a href="home.html">back to home </a>
<div>
<pre>
	<form action="" method="">
	Note name :</br>
	<input type="text" name="nameGround" style="width:400px;"/>   
	
	Note Body:</br>
	<textarea rows="60" cols="200" name="noteGround" style="width:800px; height:200px;"></textarea></br></br>
	<input type="submit" value="Save Note" name="saveButton" style="width:100px;"/>	<input type="submit" value="Edit Note" name="editButton" style="width:100px;"/></br></br>
	</form>
</pre>
</div>


<pre>
<div style="width: 100%; float:left; height:400px; background:rgb(186, 186, 186); margin:10px; font-family:verdana; font-size:12px">
  Your Notes :

<ul style="display: block;list-style-type: square;">
	<li> <a></a></li>
</ul>
</div>
</pre>

</div>
</body>
</html>