<!DOCTYPE html>
<html>
<head>
	<title>login page</title>
</head>
<body>
	<form method="post" >
		</br>
		<p style='color:red'></p>
		<h1 align="center">Login to Your Account</h1>
	<pre align="center">Username : <input type="text" name="username">
				<span id="untext" style="color:red; font-size:10px;"></span>
				<p align="center">Password : <input type="password" name="password"></p>
				<span id="ptext" style="color:red;font-size:10px;"></span>
		<br>
	<input type="submit" name="submit" value="Login" style="color:green; width:100px;height:25px">   <input type="reset" style="color:gray; width:50px; height:25px"><br>
		<br>
	</pre>
		<p align="center">Don't have an account? Create an account <a href="/register">here</a> </p>
		
	</form>
</body>
</html>