<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
	<link rel="stylesheet" type="text/css" href="abc/style.css">
</head>
<body>
	<h1 style="color:Tomato;" >Welcome to Online jury</h1>
	<table style="width:100%; border-style:dashed;">
	<tr style="color:black">
	 <th> <a href="/user/review">review</a> </th>
	 <th> <a href="/user/userlist">View User List</a> </th>
	 <th> <a href="/user/search">Search</a> </th>
	 <th> <a href="/logout" style="color:red" >logout</a> </th>
	</tr>
  </table>

</body>
</html>