<!DOCTYPE html>
<html>
<head>
	<title>Index Page</title>
</head>
<body>

<center>
	<h2 style="color:Tomato;">Welcome to online jury</h2>
	Click below link to login
	</br>
	<a href="/login">Login</a>
</center>
	
</body>	
</html>