<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
</head>
<body>
	<h1>Register Here</h1>
	
<script type="text/javascript">

function valfunc(elName)
{
	var flag=true;
	
	if(elName=="username" || elName=="all")
	{
		var username = regi.username.value;
	
		if(username.length==0)
		{
			flag=false;
			document.getElementById("untext").innerHTML="Required Field !";
			document.regi.username.style="border:2px solid red; background-color:rgb(255, 130, 140)";
		}
		else
		{
			// flag=true;
			document.getElementById("untext").innerHTML="";
			document.regi.username.style="background-color:rgb(192, 255, 184)";
		}
	}
		else if(elName=="password" || elName=="all")
	{
		var eleValue = regi.password.value;
		if(eleValue.length<8)
		{
			flag=false;
			document.getElementById("passtext").innerHTML="Password must be 8 Characters Long.";
			document.regi.password.style="border:2px solid red; background-color:rgb(255, 130, 140)";
		}
		else
		{
			// flag=true;
			document.getElementById("passtext").innerHTML="";
			document.regi.password.style="background-color:rgb(192, 255, 184)";
		}
	}
	else if(elName=="address" || elName=="all")
	{
		var address = regi.address.value;
	
		if(address.length==0)
		{
			flag=false;
			document.getElementById("adtext").innerHTML="Required Field !";
			document.regi.address.style="border:2px solid red; background-color:rgb(255,255,255)";
		}
		else
		{
			// flag=true;
			document.getElementById("adtext").innerHTML="";
			document.regi.address.style="background-color:rgb(192, 255, 184)";
		}
	}
	else if(elName=="contact" || elName=="all")
	{
		var eleValue = regi.contact.value;
		if(eleValue.indexOf("0")<0 || eleValue.length!=11 || isNaN(eleValue))
		{
			flag=false;
			document.getElementById("context").innerHTML="Format : 01XXXXXXXXX";
			document.regi.contact.style="border:2px solid red; background-color:rgb(255, 130, 140)";
		}
		else
		{
			// flag=true;
			document.getElementById("context").innerHTML="";
			document.regi.contact.style="background-color:rgb(192, 255, 184)";
		}
	}
	return flag;
}
function clrfunc()
{
	document.getElementById("untext").innerHTML="";
	document.getElementById("passtext").innerHTML="";
	document.getElementById("adtext").innerHTML="";
	document.getElementById("context").innerHTML="";

	document.regi.username.style="background-color:rgb(255,255,255)";
	document.regi.password.style="background-color:rgb(255,255,255)";
	document.regi.address.style="background-color:rgb(255,255,255)";
	document.regi.contact.style="background-color:rgb(255,255,255)";
}
</script>
	<form method="post" >
		<table>
			<tr>
				<td>Username: </td>
				<td><input type="text" onkeyup="valfunc('username')" onclick="clrfunc()" name="username"></td>
			</tr>
			<tr>
				<td>Password: </td>
				<td><input type="password" onkeyup="valfunc('password')" onclick="clrfunc()" name="password"></td>
			</tr>

			<tr>
				<td>Profession: </td>
				<td><input type="radio" name="radio"  value="1"> Admin</td>
				<td><input type="radio" name="radio"  value="2"> Judge</td>
			</tr>
			<tr>
				<td>Address: </td>
				<td><input type="text" onkeyup="valfunc('address')" onclick="clrfunc()" name="address"></td>
			</tr>
			<tr>
				<td>Contact: </td>
				<td><input type="text" onkeyup="valfunc('contact')" onclick="clrfunc()" name="contact" pattern="[0]{1}[1]{1}[0-9]{9}" required>	</td>
			</tr>
			<tr>
				<td><input type="submit" onclick="return valfunc('all')" name="submit" value="Submit"></td>
				<td></td>
			</tr>
		</table>
		<a href="/login">Back</a>
	</form>
</body>
</html>